.footer {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 12px 20px;

    color: #d4d4d8;
    font-weight: 500;
    .author {
        display: flex;
        font-size: 0.8em;
        .pin {
            transform: translateY(1px);
            margin-right: 6px;
        }
    }

    .nav {
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
        a {
            margin-left: 16px;
            color: var(--color-text-link, #4ea1ff);
            text-decoration: none;
        }
    }
}
