.container {
    border-radius: var(--radius);
    padding: 16px;

    display: flex;
    .playButton {
        display: flex;
        align-items: center;

        transition: all 0.25s ease-in-out;
        color: #27272a;

        button {
            &.isPlay {
                background-color: #4ade80;
            }

            &.isPause {
                background-color: #f87171;
            }

            &.loading {
                background-color: #ccc;
                cursor: not-allowed;
            }

            .dots {
                display: flex;
                gap: 4px;
                transform: translateY(2px);
                span {
                    width: 4px;
                    height: 4px;
                    background: white;
                    border-radius: 50%;
                    animation: bounce 0.4s infinite alternate ease-out;
                }
                span:nth-child(2) {
                    animation-delay: 0.2s;
                }
                span:nth-child(3) {
                    animation-delay: 0.4s;
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

@keyframes bounce {
  to {
    transform: translateY(-4px);
    opacity: 0.5;
  }
}