.footer {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 12px 20px;
    // background: var(--color-panel, rgba(255, 255, 255, 0.04));
    // border-top: 1px solid var(--color-ring, rgba(255, 255, 255, 0.08));
    // border-radius: var(--radius);
    
    color: var(--color-text-muted, #aaa);

    .author{
        font-size: 0.8rem;
    }

    .nav {
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
        a {
            margin-left: 16px;
            color: var(--color-text-link, #4ea1ff);
            text-decoration: none;
        }
    }
}
